doctype html
html(lang="es")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1,maximun-scale=1")
    meta(name="description", content="descripcion del sitio (no mas de 155 caracteres")
    head
        link(rel="author" href="https://plus.google.com/+Martinalga%C3%B1araz/posts")
        link(rel="stylesheet" href="css/style.css")
        block css

        block title
            title Titulo del sitio.

        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        block js
    body
        block content

        footer
            p Copyright 2015 Martin Hernan Algañaraz @idcmardelplata
            nav: ul
                li: Item 1 del menu
                li: Item 2 del menu
                li: Item 3 del menu
                li: Item 4 del menu
                li: Item 5 del menu
            form(name="contact" id="contacto")
                label(for="nombre") Nombre
                input(type="text" id="nombre" placeholder="¿cual es tu nombre?")
                label(for="email") Email
                input(type="email" id="email" placeholder="¿cual es tu email?")
                br
                br
                textarea(rows="3" cols="20" placeholder="Envianos tu consulta o comentario") 
                br
                button(for="contacto") Enviar

            #social-network
                p Siguenos en twitter
                p Siguenos en facebook
                p Siguenos en google+
                


